# Server Configuration
PORT=3001

OPONEO_BASE_URL=https://autoserwis.oponeo.pl
OPONEO_LOGIN_URL=https://autoserwis.oponeo.pl/logowanie
OPONEO_RESERVATIONS_LIST_URL=https://autoserwis.oponeo.pl/lista-rezerwacji
OPONEO_EMAIL=
OPONEO_PASSWORD=

WO_EVENTS_URL=https://api.wymianaopon.pl/api/events/planned
WO_API_KEY=
SLACK_BOT_API_KEY=

# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=

# The subdomain to serve from
SUBDOMAIN=

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Warsaw
TZ=Europe/Warsaw

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=
N8N_BLOCK_ENV_ACCESS_IN_NODE=true
N8N_RUNNERS_ENABLED=true

# Proxy configuration
# Ports 8001-8005 are randomly selected for each browser instance
PROXY_SERVER=

PROXY_USERNAME_1=
PROXY_PASSWORD_1=

PROXY_USERNAME_2=
PROXY_PASSWORD_2=
